<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered" id="loansTable">
            <thead>
            <tr>
                <th>N. Mutuo</th>
                <th>Banca</th>
                <th>Importo</th>
                <th>Scadenza</th>
            </tr>
            </thead>

            <tbody>
            {% for l in loans %}

                <tr>
                    <td class="font-weight-bold">{{ l.loan.getLoanNumber }}</td>
                    <td>{{ l.loan.provider.businessName }}</td>
                    <td>&euro; {{ l.loan.instalmentAmount }}</td>
                    <td>
                        {% if l.lastInstalment is not null %}
                            {% if l.lastInstalment.paymentDate < currentDate %}
                                <span class="font-weight-bold m--font-danger">{{ l.lastInstalment.paymentDate|date('d-m-Y') }}</span>
                            {% else %}
                                {{ l.lastInstalment.paymentDate|date('d-m-Y') }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#loansTable').DataTable({
            responsive: true,
            language: {
                "sEmptyTable":     "Nessun dato presente nella tabella",
                "sInfo":           "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty":      "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered":   "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix":    "",
                "sInfoThousands":  ".",
                "sLengthMenu":     "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing":     "Elaborazione...",
                "sSearch":         "Cerca:",
                "sZeroRecords":    "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst":      "Inizio",
                    "sPrevious":   "Precedente",
                    "sNext":       "Successivo",
                    "sLast":       "Fine"
                },
                "oAria": {
                    "sSortAscending":  ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            }
        })
    });
</script>