{% extends 'base.html.twig' %}
{% block title %}Redentours | Crea Corso{% endblock %}
{% block subheader_title %}Crea Corso{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                Creazione Corso
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <!-- TODO: CAMBIARE LA ACTION -->
                <form id="form_course" class="m-form" method="POST" action="{{ path('create_course_ajax') }}">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group">
                                {{ form_widget(form._token) }}
                                <label for="example_input_full_name">
                                    * Nome Corso:
                                </label>
                                {{ form_widget(form.name) }}
                                <span class="m-form__help">
														Inserire il nome del corso.
													</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <button type="submit" class="btn btn-primary">
                                Invia
                            </button>
                            <button type="reset" class="btn btn-secondary">
                                Annulla
                            </button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>

        <div class="col-lg-5">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                Elenco dei Corsi
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div id="course_table" class="m-section__content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block page_scripts %}
    <script src="{{ asset('assets/customjs/employees/create_course.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/customjs/validate_translations.js') }}" type="text/javascript"></script>
{% endblock %}