<div class="row m--padding-20">
    <div class="col-md-12">
        <table class="table m-table m-table--head-separator-info table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Codice</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Servizio</th>
                <th>Stato</th>
                <th>N. Itin.</th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            {% for p in priceQuotations %}
                <tr>
                    <td>{{ p.priceQuotationId }}</td>
                    <td>{{ p.Code }}</td>
                    <td>{{ p.priceQuotationDate|date('d-m-Y') }}</td>
                    <td>{{ p.customer.businessName }}</td>
                    <td>{{ p.serviceCode.service }}</td>
                    <td>
                        {% if p.status == 1 %}
                            <span class="m-badge m-badge--warning m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-warning">Da Inviare</span>
                        {% elseif p.status == 2 %}
                            <span class="m-badge m-badge--info m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-info">Inviato</span>
                        {% elseif p.status == 3 %}
                            <span class="m-badge m-badge--success m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-success">Confermato</span>
                        {% elseif p.status == 4 %}
                            <span class="m-badge m-badge--metal m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-metal">Annullato</span>
                        {% endif %}
                    </td>
                    <td>{{ p.priceQuotationDetails|length }}</td>
                    <td><a href="javascript:void(0);"
                           onclick="alert('In Lavorazione');"
                           class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                           title="Vedi Preventivo"> <i class="la la-eye"></i> </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
