<form id="form_unavailability" method="POST" class="m-form m-form--fit m-form--label-align-right"
      action="{{ path('ajax_create_employee_unavailability') }}"
      autocomplete="off">
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
        {{ form_widget(form._token) }}
            <div class="col-lg-4 m-form__group-sub">
                <label>* Dipendente:</label>
                <div class="m-input-icon m-input-icon--right">
                    {{ form_widget(form.employee) }}
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i
                                    class="la la-barcode"></i></span></span>
                </div>
            </div>

            <div class="col-lg-4 m-form__group-sub">
                <label>* Data Inizio:</label>
                <div class="m-input-icon m-input-icon--right">
                    {{ form_widget(form.startDate) }}
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i
                                    class="la la-calendar"></i></span></span>
                </div>
                <span class="m-form__help">Data Inizio Indisponibilità</span>
            </div>

            <div class="col-lg-4 m-form__group-sub">
                <label>* Data Scadenza:</label>
                <div class="m-input-icon m-input-icon--right">
                    {{ form_widget(form.endDate) }}
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i
                                    class="la la-calendar"></i></span></span>
                </div>
                <span class="m-form__help">Data di scadenza Indisponibilità</span>
            </div>

            <div class="col-lg-12 m-form__group-sub">
                <label>* Causa:</label>
                <div class="m-input-icon m-input-icon--right">
                    {{ form_widget(form.issue) }}
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i
                                    class="la la-sticky-note"></i></span></span>
                </div>
                <span class="m-form__help">Inserire la causa dell' Indisponibilità</span>
            </div>

        </div>

    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--line">
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" data-wizard-action="submit" class="btn btn-primary">Salva
                    </button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal"
                            aria-label="Close">Annulla</button>
                </div>
            </div>
        </div>
    </div>

</form>