<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" id="costsTable">
            <thead>
            <tr>
                <th>Targa</th>
                <th>Bollo</th>
                <th>Revisione</th>
                <th>Assicurazione</th>
                <th>Estintore</th>
            </tr>
            </thead>
            <tbody>
            {% for v in vehicles %}
                <tr>
                    <td class="font-weight-bold">{{ v.plate }}</td>
                    <td>
                        {% if v.currentCarTax is not null %}
                            {% if v.currentCarTax.endDate < currentDate %}
                                <span class="font-weight-bold m--font-danger">{{ v.currentCarTax.endDate|date('d-m-Y') }}</span>
                            {% else %}
                                {{ v.currentCarTax.endDate|date('d-m-Y') }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if v.currentCarReview is not null %}
                            {% if v.currentCarReview.endDate is not null %}
                                {% if v.currentCarReview.endDate < currentDate %}
                                    <span class="font-weight-bold m--font-danger">{{ v.currentCarReview.endDate|date('d-m-Y') }}</span>
                                    {% else %}
                                        {{ v.currentCarReview.endDate|date('d-m-Y') }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if v.currentInsurance is not null %}
                            {% if v.currentInsurance.endDate < currentDate %}
                                <span class="font-weight-bold m--font-danger">{{ v.currentInsurance.endDate|date('d-m-Y') }}</span>
                            {% else %}
                                {{ v.currentInsurance.endDate|date('d-m-Y') }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if v.fireExtinguisherExpiration is not null %}
                            {% if v.fireExtinguisherExpiration < currentDate %}
                                <span class="font-weight-bold m--font-danger">{{ v.fireExtinguisherExpiration|date('d-m-Y') }}</span>
                            {% else %}
                                {{ v.fireExtinguisherExpiration|date('d-m-Y') }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#costsTable').DataTable({
            responsive: true,
            language: {
                "sEmptyTable":     "Nessun dato presente nella tabella",
                "sInfo":           "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty":      "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered":   "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix":    "",
                "sInfoThousands":  ".",
                "sLengthMenu":     "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing":     "Elaborazione...",
                "sSearch":         "Cerca:",
                "sZeroRecords":    "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst":      "Inizio",
                    "sPrevious":   "Precedente",
                    "sNext":       "Successivo",
                    "sLast":       "Fine"
                },
                "oAria": {
                    "sSortAscending":  ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            }
        })
    });
</script>
