{% extends('base.html.twig') %}
{% block title %}Redentours | Turni Servizio Mensili{% endblock %}
{% block subheader_title %}Turni Servizio Mensili{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
						<i class="la la-gear"></i>
						</span>
                            <h3 class="m-portlet__head-text">
                                Turni Mensili <span class="m--font-info m--font-boldest">{{ month }}/{{ year }}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <select class="form-control m-input" id="scelta_mese">
                                    <option value="1">Gennaio</option>
                                    <option value="2">Febbraio</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Aprile</option>
                                    <option value="5">Maggio</option>
                                    <option value="6">Giugno</option>
                                    <option value="7">Luglio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Settembre</option>
                                    <option value="10">Ottobre</option>
                                    <option value="11">Novembre</option>
                                    <option value="12">Dicembre</option>
                                </select>
                            </li>
                            <li class="m-portlet__nav-item">
                                <select class="form-control m-input" id="scelta_anno">
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                            </li>
                            <li class="m-portlet__nav-item">
                                <a href="javascript:void(0)" onclick="reindirizzaATabellaTurni()" class="m-portlet__nav-link btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--pill"><i class="la la-search date-navigator"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">


                    <table class="table-bordered turn_table text-center">
                        <thead>
                            <tr>
                                <th>Autista</th>
                            {% if data[1] is defined and data[1] is not null %}
                                {% for d in data[1].turns %}
                                    <th class="">
                                        <a href="{{ path('daily_turns') }}/{{ loop.index }}-{{ month }}-{{ year }}">
                                            {{ loop.index }}/{{ month }}
                                        </a>
                                    </th>
                                {% endfor %}
                            {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                                <tr>
                                <td>{% if d.name is not null %}<span class="">{{ d.name }}</span>{% endif %}</td>
                                {% for td in d.turns %}
                                    <td>
                                    {% if td.workingHours is not null %}<span class="">{{ td.workingHours|date('H:i') }}</span>{% endif %}
                                    {% if td.permissionTime is not null %}<span class="m--font-danger">{{ td.permissionTime|date('H:i') }}</span>{% endif %}
                                    {% if td.illness is not null and td.illness == true %}<span class="m--font-danger m--font-boldest">M</span>{% endif %}
                                    {% if td.holiday is not null and td.holiday == true %}<span class="m--font-success m--font-boldest">F</span>{% endif %}
                                    </td>

                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                    {#<table class="table-bordered turn_table text-center">#}

                        {#<tr>#}

                                {#<th>Autista</th>#}

                            {#{% for t in turns %}#}

                                {#<th class="">#}
                                    {#<a href="{{ path('daily_turns') }}/{{ t.turnDate|date('d-m-Y') }}">#}
                                    {#{{ t.turnDate|date('d/m') }}#}
                                    {#</a>#}
                                {#</th>#}

                            {#{% endfor %}#}

                        {#</tr>#}

                        {#{% for d in data %}#}


                            {#<tr>#}

                                {#<td class="text-left">{{ d.name }}</td>#}

                                {#{% for td in d.turns %}#}

                                    {#<td>#}

                                        {#{% if td.workingHours is not null %}<span class="">{{ td.workingHours|date('H:i') }}</span>{% endif %}#}
                                        {#{% if td.permissionTime is not null %}<span class="m--font-danger">{{ td.permissionTime|date('H:i') }}</span>{% endif %}#}
                                        {#{% if td.illness is not null and td.illness == true %}<span class="m--font-danger m--font-boldest">M</span>{% endif %}#}
                                        {#{% if td.holiday is not null and td.holiday == true %}<span class="m--font-success m--font-boldest">F</span>{% endif %}#}


                                    {#</td>#}

                                {#{% endfor %}#}


                            {#</tr>#}


                        {#{% endfor %}#}

                    {#</table>#}

                    {#{{ dump(data) }}#}


                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}

    <script>
        function reindirizzaATabellaTurni() {
            var mese = $('#scelta_mese').val();
            var anno = $('#scelta_anno').val();

            if(mese === '' || anno === '') return false;

            window.location.href = window.location.origin + '/monthly-turn-view/' + mese + '/' + anno;
        }
    </script>

{% endblock %}