<form id="form_bank_account" method="POST" class="m-form m-form--fit m-form--label-align-right"
      action="{{ action_url }}"
      autocomplete="off">
    <div class="m-portlet__body m--margin-15">

        <div class="form-group m-form__group row">

            {{ form_widget(form._token) }}

            <div class="col-lg-6 m-form__group-sub">
                <label>* Nome Banca:</label>
                <div class="m-input-icon m-input-icon--right">
                    {{ form_widget(form.bankName) }}
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i
                                    class="la la-bank"></i></span></span>
                </div>
                <span class="m-form__help">Inserire il nome completo della Banca</span>
            </div>

            <div class="col-lg-6 m-form__group-sub">
                <label>* Intestatario:</label>
                <div class="m-input-icon m-input-icon--right">
                    {{ form_widget(form.owner) }}
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i
                                    class="la la-user"></i></span></span>
                </div>
                <span class="m-form__help">Inserire il nome completo dell'intestatario del conto</span>
            </div>

        </div>

        <div class="form-group m-form__group row">

            <div class="col-lg-1 m-form__group-sub">
                <label>* Paese:</label>
                    {{ form_widget(form.country) }}
            </div>

            <div class="col-lg-1 m-form__group-sub">
                <label>* Check:</label>
                {{ form_widget(form.check) }}
            </div>

            <div class="col-lg-1 m-form__group-sub">
                <label>* CIN:</label>
                {{ form_widget(form.cin) }}
            </div>

            <div class="col-lg-2 m-form__group-sub">
                <label>* ABI:</label>
                {{ form_widget(form.abi) }}
            </div>

            <div class="col-lg-2 m-form__group-sub">
                <label>* CAB:</label>
                {{ form_widget(form.cab) }}
            </div>

            <div class="col-lg-5 m-form__group-sub">
                <label>* Numero Conto:</label>
                {{ form_widget(form.accountNumber) }}
            </div>

        </div>

    </div>


    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--line">
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" data-wizard-action="submit" class="btn btn-primary">Salva
                    </button>
                    <button type="reset" class="btn btn-secondary">Annulla</button>
                </div>
            </div>
        </div>
    </div>

</form>