{% extends('base.html.twig') %}
{% block title %}Redentours | Ordini di Servizio{% endblock %}
{% block subheader_title %}Ordini di Servizio{% endblock %}

{% block content %}

    <style>
        .m-body .m-content {
            padding:0;
            margin:0;
        }

        .m-subheader {
            display:none !important;
        }
    </style>

    <div class="col-lg-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Ordini di Servizio
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#m_tabs_1_1">
                            Del Giorno
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#m_tabs_1_2">
                            Da fare report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#m_tabs_1_3">
                            Archivio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#m_tabs_1_4">
                            Da eseguire
                        </a>
                    </li>
                </ul>
                <div class="tab-content">


                    <div class="tab-pane active driver-orders-pane" id="m_tabs_1_1" role="tabpanel" style="overflow-x: scroll;">

                        {% for o in new_orders %}

                            <div class="m-portlet m-portlet--info m-portlet--head-solid-bg service-order-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-placeholder-2"></i>
												</span>
                                            <h3 class="m-portlet__head-text">
                                                {{ o.departureLocation }} - {{ o.arrivalLocation }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="driver-service-order-detail"><span>Partenza da: </span>{{ o.departureLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Arrivo a: </span>{{ o.arrivalLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Data: </span>{{ o.departureDate|date('d-m-Y') }}</div>
                                    <div class="driver-service-order-detail"><span>Orari: </span>{{ o.startTime }} - {{ o.endTime }}</div>
                                    <div class="driver-service-order-detail"><span>Descrizione: </span>{{ o.description|raw }}</div>
                                    <div class="driver-service-order-detail"><span>Disposizioni: </span>{{ o.dispositions|raw }}</div>
                                </div>
                                <div class="m-portlet__foot">
                                    {% if o.report is null %}
                                        <a href="create-report-{{ o.serviceOrder }}" class="btn btn-success"><i
                                                    class="la la-edit"></i> Compila Report</a>
                                    {% else %}
                                        <a href="#" class="btn btn-warning"><i class="la la-edit"></i> Modifica
                                            Report</a>
                                    {% endif %}
                                    {% if o.directionsLink is not null %}
                                        <a href="{{ o.directionsLink }}" class="btn btn-info" target="_blank"><i
                                                    class="la la-map-marker"></i> Vedi Mappa</a>
                                    {% else %}
                                        <a href="https://www.google.it/maps/dir/{{ o.departureLocation }}/{{ o.arrivalLocation }}"
                                           class="btn btn-info" target="_blank"><i class="la la-map-marker"></i> Vedi Mappa</a>
                                    {% endif %}
                                    {% if o.priceQuotationDetail.attachment is defined and o.priceQuotationDetail.attachment is not null %}
                                        <a href="{{ path('download_attachment', {n : o.priceQuotationDetail.attachment.attachmentId}) }}"
                                           class="btn btn-brand" target="_blank"><i class="la la-file"></i> Scarica Allegato</a>
                                    {% endif %}
                                    <a href="{{ path('report_problems', {n : o.serviceOrder}) }}" class="btn btn-danger"><i class="la la-close"></i> Segnala Problemi</a>
                                </div>
                            </div>

                        {% endfor %}

                    </div>


                    <div class="tab-pane driver-orders-pane" id="m_tabs_1_2" role="tabpanel">
                        {% for o in to_report_orders %}

                            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg service-order-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-placeholder-2"></i>
												</span>
                                            <h3 class="m-portlet__head-text">
                                                {{ o.departureLocation }} - {{ o.arrivalLocation }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="driver-service-order-detail"><span>Partenza da: </span>{{ o.departureLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Arrivo a: </span>{{ o.arrivalLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Data: </span>{{ o.departureDate|date('d-m-Y') }}</div>
                                    <div class="driver-service-order-detail"><span>Orari: </span>{{ o.startTime }} - {{ o.endTime }}</div>
                                    <div class="driver-service-order-detail"><span>Descrizione: </span>{{ o.description|raw }}</div>
                                    <div class="driver-service-order-detail"><span>Disposizioni: </span>{{ o.dispositions|raw }}</div>
                                </div>
                                <div class="m-portlet__foot">
                                    {% if o.report is null %}
                                        <a href="create-report-{{ o.serviceOrder }}" class="btn btn-success"><i
                                                    class="la la-edit"></i> Compila Report</a>
                                    {% else %}
                                        <a href="edit-report-{{ o.serviceOrder }}" class="btn btn-warning"><i
                                                    class="la la-edit"></i> Modifica
                                            Report</a>
                                    {% endif %}
                                    {% if o.directionsLink is not null %}
                                        <a href="{{ o.directionsLink }}" class="btn btn-info" target="_blank"><i
                                                    class="la la-map-marker"></i> Vedi Mappa</a>
                                    {% else %}
                                        <a href="https://www.google.it/maps/dir/{{ o.departureLocation }}/{{ o.arrivalLocation }}"
                                           class="btn btn-info" target="_blank"><i class="la la-map-marker"></i> Vedi Mappa</a>
                                    {% endif %}
                                    {% if o.priceQuotationDetail.attachment is defined and o.priceQuotationDetail.attachment is not null %}
                                        <a href="{{ path('download_attachment', {n : o.priceQuotationDetail.attachment.attachmentId}) }}"
                                           class="btn btn-brand" target="_blank"><i class="la la-file"></i> Scarica Allegato</a>
                                    {% endif %}
                                    <a href="{{ path('report_problems', {n : o.serviceOrder}) }}" class="btn btn-danger"><i class="la la-close"></i> Segnala Problemi</a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>


                    <div class="tab-pane driver-orders-pane" id="m_tabs_1_3" role="tabpanel">
                        {% for o in old_orders %}

                            <div class="m-portlet m-portlet--secondary m-portlet--head-solid-bg service-order-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-placeholder-2"></i>
												</span>
                                            <h3 class="m-portlet__head-text">
                                                {{ o.departureLocation }} - {{ o.arrivalLocation }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="driver-service-order-detail"><span>Partenza da: </span>{{ o.departureLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Arrivo a: </span>{{ o.arrivalLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Data: </span>{{ o.departureDate|date('d-m-Y') }}</div>
                                    <div class="driver-service-order-detail"><span>Orari: </span>{{ o.startTime }} - {{ o.endTime }}</div>
                                    <div class="driver-service-order-detail"><span>Descrizione: </span>{{ o.description|raw }}</div>
                                    <div class="driver-service-order-detail"><span>Disposizioni: </span>{{ o.dispositions|raw }}</div>
                                </div>
                                <div class="m-portlet__foot">
                                    {% if o.report is null %}
                                        <a href="create-report-{{ o.serviceOrder }}" class="btn btn-success"><i
                                                    class="la la-edit"></i> Compila Report</a>
                                    {% else %}
                                        <a href="edit-report-{{ o.serviceOrder }}" class="btn btn-warning"><i
                                                    class="la la-edit"></i> Modifica
                                            Report</a>
                                    {% endif %}
                                    {% if o.priceQuotationDetail.attachment is defined and o.priceQuotationDetail.attachment is not null %}
                                        <a href="{{ path('download_attachment', {n : o.priceQuotationDetail.attachment.attachmentId}) }}"
                                           class="btn btn-brand" target="_blank"><i class="la la-file"></i> Scarica Allegato</a>
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>


                    <div class="tab-pane driver-orders-pane" id="m_tabs_1_4" role="tabpanel">
                        {% for o in future_orders %}

                            <div class="m-portlet m-portlet--success m-portlet--head-solid-bg service-order-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-placeholder-2"></i>
												</span>
                                            <h3 class="m-portlet__head-text">
                                                {{ o.departureLocation }} - {{ o.arrivalLocation }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="driver-service-order-detail"><span>Partenza da: </span>{{ o.departureLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Arrivo a: </span>{{ o.arrivalLocation }}</div>
                                    <div class="driver-service-order-detail"><span>Data: </span>{{ o.departureDate|date('d-m-Y') }}</div>
                                    <div class="driver-service-order-detail"><span>Orari: </span>{{ o.startTime }} - {{ o.endTime }}</div>
                                    <div class="driver-service-order-detail"><span>Descrizione: </span>{{ o.description|raw }}</div>
                                    <div class="driver-service-order-detail"><span>Disposizioni: </span>{{ o.dispositions|raw }}</div>
                                </div>
                                <div class="m-portlet__foot">
                                    {% if o.directionsLink is not null %}
                                        <a href="{{ o.directionsLink }}" class="btn btn-info" target="_blank"><i
                                                    class="la la-map-marker"></i> Vedi Mappa</a>
                                    {% else %}
                                        <a href="https://www.google.it/maps/dir/{{ o.departureLocation }}/{{ o.arrivalLocation }}"
                                           class="btn btn-info" target="_blank"><i class="la la-map-marker"></i> Vedi Mappa</a>
                                    {% endif %}
                                    {% if o.priceQuotationDetail is not null %}
                                        {% if o.priceQuotationDetail.attachment is defined and o.priceQuotationDetail.attachment is not null %}
                                            <a href="{{ path('download_attachment', {n : o.priceQuotationDetail.attachment.attachmentId}) }}"
                                               class="btn btn-brand" target="_blank"><i class="la la-file"></i> Scarica Allegato</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}